*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.page{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: whitesmoke;
    cursor: default;
    font-size: 1.5rem;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo{
    width: 9vw;
    animation: colorchange 3s alternate infinite;
}
@keyframes colorchange{
    100%{
        filter: hue-rotate(360deg);
    }
}

.contactme{
    display: flex;
    color:whitesmoke;
}

.header-div{
    display: flex;
    height: 20vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: default;
}

.typing-text{
    font-size: 3rem;
    color: white;
    z-index: 1;
}

.header-div span{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}

.cursor{
    display: inline-block;
    width: 2px;
    height: 3rem;
    background-color: white;
    margin-left: 4px;
    animation: blink 0.8s infinite;
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}

.content{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.aboutme{
    text-align: justify;
    width: 40%;
    padding: 2%;
    position: relative;
    background-color: #E4465F;
    border-radius: 20px;
    color: whitesmoke;
    cursor: default;
}

#floatingBlock {
    position: absolute;
    background-color: #4CDA80;
    width: 5vw;
    height: 5vh;
    transition: all 1s ease-in-out;
  }

.pc_video{
    width: 40%;
    height: 450px;
    z-index: -2;
}

.contacts{
    display: flex;
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    background-image: linear-gradient(45deg,#AE8AE7, #7AC6C2 );
    align-items: center;
    justify-content: center;
}
.number-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
    gap: 10px;
}
.number-info p{
    font-weight: bolder;
}
.contacts ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}
.contacts ul li a img{
    width: 5vw;
}
.giticon:hover{
    border-radius: 50%;
    background: white;
}
.linkedinicon:hover{
    border-radius: 6px;
    background: white;
}

.smile{
    position: absolute;
    width: 5vw;
}
.smile:hover{
    transform: rotate(180deg);
    width: 5.2vw;
}

@media screen and (max-width: 800px) {

    nav {
        font-size: 1rem;
    }

    .contactme {
        font-size: 0.8rem;
        align-self: center;
    }

    .logo{
        width: 80px;
    }

    .nav-left p {
        opacity: 0;
        width: 0;
    }

    .typing-text, .header-div span, .cursor{
        font-size: 1.8rem;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .aboutme, .pc_video {
        width: 100%;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
    }

    .contacts ul li a img{
        width: 40px;
    }

    .smile{
        width: 40px;
    }
    .smile:hover{
        width: 42px;
    }
}